#rdr_content a {
  color: #ed944d;
}

#rdr_content img {
  object-fit: contain;
}

#rdr_content {
  word-wrap: break-word;
}

em,
strong,
small,
b,
big {
  margin-left: 5px;
  margin-right: 5px;
}

/* #rdr_content img { */
/* width: 50%; */
/* height: *; */
/* } */

#rdr_content table {
  border-color: #ed944d;
  border-width: 3px;
  /* border-collapse: collapse; */
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  width: *;
}

/* #rdr_content div.table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: *;
} */

#rdr_content table table {
  /* width: *; */
  max-width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

#rdr_content table td {
  /* border-left: 1px solid #ED944D;
    border-top: 1px solid #ED944D; */
  /* border-collapse: collapse; */
  border: 1px solid #ed944d;
  padding: 0px 5px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: *;
}

/* #rdr_content table tr td:first-child {
    border-left: none;
}

#rdr_content table tr:first-child > td {
    border-top: none;
} */
