#rdr_content a {
  color: #ed944d;
}

#rdr_content img {
  object-fit: contain;
}

#rdr_content .manga-image img {
  opacity: 0.87;
}

#rdr_content {
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  /* hyphens: manual; */
  /* word-break: break-word; */
  white-space: normal;
  /* white-space: pre-line; */
  /* white-space: normal; */
  word-break: keep-all;
  word-wrap: normal;
}

#rdr_content .line.active {
  word-wrap: break-word;
}

em,
strong,
small,
b,
big {
  margin-left: 5px;
  margin-right: 5px;
}

#rdr_content table {
  border-color: #ed944d;
  border-width: 3px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: *;
}

#rdr_content table table {
  max-width: 100%;
}

#rdr_content table td {
  border: 1px solid #ed944d;
  padding: 0px 5px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: *;
}
